@use '../abstracts' as a;

.app__notify {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  z-index: 100;
  padding: 20px;
  border-radius: 15px;
  color: a.$white;
  opacity: 0;
}

.app__notify_success {
  background-color: hsl(120, 100%, 23%);
}

.app__notify_error {
  background-color: hsl(0, 100%, 35%);
}

.app__notify_warning {
  background-color: hsl(60, 68%, 40%);
  color: a.$gray-super-dark;
}

.app__notify_enter {
  opacity: 0;
}

.app__notify_enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.app__notify_exit {
  opacity: 1;
}

.app__notify_exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}