@use '../abstracts' as a;

.fri__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fri__title {
  color: a.$white;
  font-weight: 500;
  font-size: 32px;
}

.fri__button {
  font-size: 20px;
  padding: 12px 18px;
  border-radius: 7px;
}

.fri__action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.fri__card-list {
  position: relative;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.fri__card-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 15px;
  border: solid 2px hsl(0, 0%, 39%);
  color: hsl(0, 0%, 80%);
  width: 250px;
}

.fri__age-label {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 300;
  font-size: 23px;
}

.fri__card-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.fri__full-name {
  text-align: center;
  overflow-wrap: break-word;
}

.fri__email {
  max-width: 200px;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 12px;
}