// colors
$gray-light: hsl(0, 0%, 39%);
$gray-light-transparent: hsla(0, 0%, 39%, 0.3);
$gray: hsl(0, 0%, 27%);
$gray-dark: hsl(0, 0%, 23%);
$gray-super-dark: hsl(0, 0%, 13%);
$white: hsl(0, 0%, 80%);

// fonts
$main-font: "Inter", sans-serif;