@use '../abstracts' as a;

.app__drop-container {
  display: block;
  position: relative;
  min-width: 170px;
}

.app__drop-btn {
  display: block;
  position: relative;
  font-size: 20px;
  padding-left: 35px;
  text-align: left;
  background-color: transparent;
  border: solid 2px a.$gray-light;
  color: a.$gray-light;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 100%;

  &:hover {
    background-color: a.$gray-light;
    color: a.$gray-super-dark;
  }

  &::after {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    width: 6px;
    height: 6px;
    border: solid a.$gray-light;
    border-width: 0 2px 2px 0;
    transform: translateY(-70%) rotate(45deg);
  }

  &:hover::after {
    border-color: a.$gray-super-dark;
  }

  .app__drop-options:not(.app__drop-hidden) + &::after {
    transform: translateY(-50%) rotate(225deg);
  }
}

.app__drop-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(100% + 3px);
  left: 0;
  width: 100%;
  background-color: a.$gray-super-dark;
  border: solid 2px a.$gray-light;
  border-radius: 8px;
  z-index: 1000;

  &.app__drop-hidden {
    display: none;
  }
}

.app__drop-option-input {
  display: none;
}

.app__drop-option-label {
  display: block;
  padding: 7px 15px;
  border: none;
  opacity: 1;
  color: a.$gray-light;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: a.$gray-light;
    color: a.$gray-super-dark;
  }

  .option-wrapper:first-child & {
    border-radius: 5px 5px 0 0;
  }

  .option-wrapper:last-child & {
    border-radius: 0 0 5px 5px;
  }
}