.root {
  --gray-light: hsl(0, 0%, 39%);
  --gray: hsl(0, 0%, 27%);
  --gray-dark: hsl(0, 0%, 23%);
  --gray-super-dark: hsl(0, 0%, 13%);
  --white: hsl(0, 0%, 80%);
  --main-font: Inter, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
}

body {
  background-color: hsl(0, 0%, 13%);
}

a {
  text-decoration: none;
}

.button-base {
  background-color: hsl(0, 0%, 23%);
  border: none;
  opacity: 1;
  color: hsl(0, 0%, 39%);
  cursor: pointer;
}
.button-base:hover {
  background-color: hsl(0, 0%, 27%);
}
.button-base:disabled, .button-base[disabled] {
  background-color: hsl(0, 0%, 27%);
  opacity: 0.5;
}

.closed-eye, .opened-eye {
  background-position: center;
  background-size: auto 70%;
  background-repeat: no-repeat;
}

.opened-eye {
  background-image: url("/src/assets/opened-eye.png");
}

.closed-eye {
  background-image: url("/src/assets/closed-eye.png");
}

.input-base {
  display: block;
  outline: none;
  border: solid 2px hsl(0, 0%, 39%);
  background-color: hsl(0, 0%, 13%);
  color: hsl(0, 0%, 80%);
  font-size: 20px;
}
.input-base:focus {
  border-color: hsl(0, 0%, 80%);
}
.input-base:-webkit-autofill, .input-base:-webkit-autofill:hover, .input-base:-webkit-autofill:focus, .input-base:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(0, 0%, 13%) inset !important;
  -webkit-text-fill-color: hsl(0, 0%, 80%) !important;
}
.input-base:-webkit-autofill::first-line {
  font-size: 24px !important;
}

.input-container {
  display: block;
  border: solid 2px hsl(0, 0%, 39%);
  background-color: hsl(0, 0%, 13%);
}
.input-container:focus-within {
  border-color: hsl(0, 0%, 80%);
}

.nice-calendar::-webkit-calendar-picker-indicator {
  background-color: hsl(0, 0%, 39%);
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.nice-calendar::-webkit-calendar-picker-indicator:hover {
  background-color: hsl(0, 0%, 80%);
}

.nice-spin-button::-webkit-inner-spin-button {
  background-color: hsl(0, 0%, 39%);
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s;
}
.nice-spin-button::-webkit-inner-spin-button:hover {
  background-color: hsl(0, 0%, 80%);
}

input[type=file] {
  display: none;
}

.app__loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 70px;
  height: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: hsl(0, 0%, 80%) transparent;
  animation: rotate 1s infinite;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) rotate(0.5turn);
  }
}
.app__notify {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  z-index: 100;
  padding: 20px;
  border-radius: 15px;
  color: hsl(0, 0%, 80%);
  opacity: 0;
}

.app__notify_success {
  background-color: hsl(120, 100%, 23%);
}

.app__notify_error {
  background-color: hsl(0, 100%, 35%);
}

.app__notify_enter {
  opacity: 0;
}

.app__notify_enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.app__notify_exit {
  opacity: 1;
}

.app__notify_exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

.auth__container, .auth__container-loading {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(0, 0%, 13%);
  border: solid 3px hsl(0, 0%, 39%);
  border-radius: 15px;
  padding: 20px;
  color: hsl(0, 0%, 80%);
}

.auth__container-loading {
  opacity: 0.6;
  pointer-events: none;
}

.auth__form-container {
  position: relative;
}

.auth__tabs {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.auth__tab {
  flex-grow: 1;
  padding: 14px 0;
  font-size: 18px;
  background-color: hsl(0, 0%, 23%);
  color: hsl(0, 0%, 80%);
}
.auth__tab.active {
  background-color: hsl(0, 0%, 80%);
  color: hsl(0, 0%, 13%);
}
.auth__tab:first-child {
  border-radius: 5px 0 0 5px;
}
.auth__tab:last-child {
  border-radius: 0 5px 5px 0;
}

.auth__submit-btn {
  padding: 8px 16px;
  font-size: 22px;
  border-radius: 10px;
  min-width: 100%;
  font-weight: 400;
  color: hsl(0, 0%, 80%);
  background-color: hsl(120, 58%, 29%);
}
.auth__submit-btn:hover {
  background-color: hsl(120, 47%, 29%);
}

.auth__form-div {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 8px 0;
}

.auth__label {
  font-size: 18px;
  font-weight: 300;
}

.auth__input {
  border-radius: 10px;
  padding: 12px;
}

.auth__password {
  border: none;
}

.auth__input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  border-radius: 10px;
  padding: 8px;
}

.auth__switch-mode-button {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.auth__error-message {
  color: hsl(0, 100%, 50%);
}

.auth__invalid {
  border-color: hsl(0, 100%, 50%);
}
.auth__invalid:focus {
  border-color: hsl(0, 100%, 50%);
  box-shadow: 0 0 0 4px hsla(0, 100%, 50%, 0.3);
}

.auth__valid {
  border-color: hsl(120, 100%, 25%);
}
.auth__valid:focus {
  border-color: hsl(120, 100%, 25%);
  box-shadow: 0 0 0 4px hsla(120, 100%, 25%, 0.3);
}

.auth__invalid_container {
  border-color: hsl(0, 100%, 50%);
}
.auth__invalid_container:focus-within {
  border-color: hsl(0, 100%, 50%);
  box-shadow: 0 0 0 4px hsla(0, 100%, 50%, 0.3);
}

.auth__valid_container {
  border-color: hsl(120, 100%, 25%);
}
.auth__valid_container:focus-within {
  border-color: hsl(120, 100%, 25%);
  box-shadow: 0 0 0 4px hsla(120, 100%, 25%, 0.3);
}

/*# sourceMappingURL=styles.css.map */
